.centralizar{
    text-align: center !important;
}

.corTexto{
    color: #0066b3;
    font-weight: bold;
}

.corIcone{
    color: orange;
}

.custom-card{
    display: flex;
    flex-direction: column;
}
  
.custom-titulo{
    padding-top: 5px;
    text-align: center;
    margin: 0;
}

.documentacao{
    color: gray;
    font-style: italic;
    font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}
  




