<mat-card-header class="titulo custom-card" >
    <mat-card-title class="custom-titulo">
        <h2>Recrutamento do Programa CAIXA Digital</h2>
    </mat-card-title>
</mat-card-header>


<div class="centralizar" style="padding-top: 5px;">
    <span class="material-icons" >
        manage_accounts
    </span> <small> Desenvolvido por Edilton da Costa Almeida - C128961-7</small>
</div>
<hr/>
<div class="centralizar">
    <img src="assets/teia.jpg">
</div>
<br>
<div class="row centralizar">
    <div class="col-3 fullwidth-form-container"></div>
    <div class="col-3 fullwidth-form-container">
        <a routerLink="/Grade">
            <mat-card class="card" style="cursor: pointer;">
                <mat-card-content>
                <div class="card-title-container">
                    <mat-card-title class="corTexto">Albums - Grade</mat-card-title>
                </div>
                <mat-icon class="corIcone">table_chart</mat-icon>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
    <div class="col-3 fullwidth-form-container">
        <a routerLink="/Tabela">
            <mat-card class="card" style="cursor: pointer;">
                <mat-card-content>
                <div class="card-title-container">
                    <mat-card-title class="corTexto">Albums - Tabela</mat-card-title>
                </div>
                <mat-icon class="corIcone">table_rows</mat-icon>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
    <div class="col-3">
        <a style="color: black;" href ='assets/Documentacao.pdf' target="_blank">
            <img src="assets/documentacao.gif" width="150px" height="150px">
            <p class="documentacao">Baixar - Documentação/Funcionalidades</p>
        </a>
    </div>
</div>